{{/* Forcer le background du header des pages/articles avec la featured image du site */}}

{{ $featured_image := .Param "featured_image" }}


{{ if $featured_image }}
  {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
  {{ $featured_image := (trim $featured_image "/") | absURL }}
  <header class="cover bg-top" style="background-image: url('{{ $featured_image }}'); z-index : 1; top: 0; width: 100%;">
    <div class="pv1-l pb3-m pb6-l bg-black-60">
      {{ partialCached "site-navigation.html" . }} 
     
    </div>
  </header>
{{ else }}
  <header>
    <div class="{{ .Site.Params.background_color_class | default "bg-black" }}">
      {{ partialCached "site-navigation.html" . }} 
    </div>
  </header>
{{ end }}
