<!--  liste des articles en mode widgets rectangulaires -->

<div class="relative w-100 mb4 bg-white nested-copy-line-height">
  <div class="bg-white mb3 pa4 gray overflow-hidden">
 <!--   <span class="f6 db">{{ humanize .Section }}</span>-->
<!--<span class="f6 db">{{ .Date.Format "2 January 2006" }}</span> -->
 <span class="f6 db">{{ .Date.Day }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}</span>
    <h1 class="f3 near-black">
      <a href="{{ .URL }}" class="link black dim">
        {{ .Title }}
      </a>
    </h1>
    <div class="nested-links f5 lh-copy nested-copy-line-height">
      {{ .Summary  }}
    </div>
  </div>
</div>
