<ul class="pa0"> 
  {{ range .Params.tags }}
   <div class="flex-l justify-between fl ">
     <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" 
      class="link f6 grow no-underline br-pill ba ph3 pv2 mb2 dib black sans-serif mr2">
       {{- . -}} 
     </a>
    </div>
  {{ end }}
</ul>
