{{ $.Scratch.Add "labelClasses" "w-100 f4 fw3 b dib mb1 mt3 avenir mid-gray" }}
{{ $.Scratch.Add "inputClasses" "w-100 f5 fw2 pv3 ph3 bg-white bn br4" }}

<div class="w-60 center">
  <form class="ph4 dib center" accept-charset="UTF-8" action="{{ .Get "action" }}" method="POST" role="form">

      <label class="{{ $.Scratch.Get "labelClasses" }}"  for="name">Nom</label>
      <input type="text" id="name" name="name" class="{{ $.Scratch.Get "inputClasses" }}"  required placeholder=" "  aria-labelledby="name"/>

      <label class="{{ $.Scratch.Get "labelClasses" }}" for="email">Adresse e-mail</label>
      <input type="email" id="email" name="email" class="{{ $.Scratch.Get "inputClasses" }}"  required placeholder=" "  aria-labelledby="email"/>
      
      <label class="{{ $.Scratch.Get "labelClasses" }} " for="message">Message</label>
      <textarea id="message" name="message" class="{{ $.Scratch.Get "inputClasses" }} h4" aria-labelledby="message"></textarea>

      <input class=" w-100 mv2 pa3 bn near-white bg-mid-gray grow br-pill dib f4 fw2 mt6 ph3 pv2 br4" type="submit" value="Envoyer" />

  </form>
</div>

