{{/* DD Template pour les articles */}}

{{ define "header" }}
   {{/* We can override any block in the baseof file be defining it in the template */}}
  {{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}
  {{ $section := .Site.GetPage "section" .Section }}
  <article class="avenir flex-l flex-wrap justify-between mw8 center ph3 w-60-l mt3">

    <header class="mb4 avenir w-100">

      <h1 class="f1 fw2 blue avenir mb1 w-100">
        {{- .Title -}}
      </h1>
      {{/* Hugo uses Go's date formatting is set by example. Here are two formats */}}
      <time class="f5 mv1 dib tracked silver" >
          {{ .Date.Day }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}
        </time>      
        {{/*  
          Show "reading time" and "word count" but only if one of the following are true:
          1) A global config `params` value is set `show_reading_time = true`
          2) A section front matter value is set `show_reading_time = true`
          3) A page front matter value is set `show_reading_time = true`
        */}}
      {{ if (or (eq (.Param "show_reading_time") true) (eq $section.Params.show_reading_time true) )}}
        <span class="f5 mv1 dib tracked silver"> - {{ .ReadingTime}} {{ default (i18n "MinutesRead" .ReadingTime)}} </span>
        <span class="f5 mv1 dib tracked silver"> - {{ .WordCount}} {{ default (i18n "words" .WordCount) }}</span>
      {{ end }}
    </header>

    <section class="avenir nested-copy-line-height lh-copy fw4 f4 nested-links nested-img mid-gray pr4-l w-100">
      {{- .Content -}}
      {{- partial "tags.html" . -}}

      <div class="flex-l justify-between items-center center mv5 f5">
 
        {{if .PrevInSection}}
        <a href={{.PrevInSection.Permalink}} class="link hover-bg-blue hover-white no-underline br-pill ba ph3 pv2 mb2 dib ">
          {{ default (i18n "previousPost") }}  
        </a>
        {{end}}
 
        {{if .NextInSection}}
        <a href={{.NextInSection.Permalink}} class="link hover-bg-blue hover-white no-underline br-pill ba ph3 pv2 mb2 dib">
            {{ default (i18n "nextPost") }} 
        </a>
        {{end}}

      </div>
    </section>

    <aside class="w-30-l mt6-l">
      {{- partial "menu-contextual.html" . -}}
    </aside>

  </article>
{{ end }}
